*{
    padding: 0px;
    margin: 0px;
   /* border: solid red;
    border-width: 1px;*/
    font-family: 'Rubik', sans-serif;
}

a{
    margin-right: 10px;
}

.portada{
    width: 100%;
    margin-bottom: 5rem;
    filter: brightness(19%);
}

.description{
    font-weight: 100;
}
.titulo1{
    margin: 1rem;
    color: white;
    position: absolute;
    left: 22%;
    top: 37%
}
.perfil{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 7%;
    top: 30%
}

.perfil:hover{
    transition: all 0.5s ease;
    transform: scale(1.05);
   
}

.perfil{
    transition: all 0.5s ease;
    transform: scale(1);
    border-radius: 8px;
    margin-right: 4rem;
}

h2{
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-top: 2.7rem;
    color: #466213;
}

.present1{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

section{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 9rem;
}

.part2{
    width:50%;
    margin-left: 2rem;
}

.part1{
    padding-right: 4rem;
}

footer{
    background-color: #466213;
    margin-top: 10rem;
    height: 100px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 3rem;
}

.pfoot{
    color: white;
    font-style: italic;
    text-align: ;
    font-weight: bold;
    margin-left: 4.5%;
}

.part2{
    background-color: #302f2f;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}
.part2_h2{
    color: #cee17d;
}

.part2_h3{
    color: white;
    font-size: 16px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-weight: 700;
}

.part2_p{
    color: white;
    margin-bottom: 1rem;
}
.ul_1{
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
}
.lip1{
    color: white;
    font-weight: 100;
}

li{
    list-style-type: none;
    font-weight: bolder;
}

.lip{
    font-weight: 100;
    margin-bottom: 1rem;
}

.bot1{
    text-align: center;
    margin-top: 1rem;
}
a{
    color: white;
}

.verdes{
    background-color: #466213;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: white;
}

.ranking{
    display: flex;
    margin-bottom: 0.5rem;
}

.iconos_1{
    margin-top: 1rem;
}

.star1{
    width: 20px;
    height: 20px;
}

.logos_1{
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.logos_2{
    margin-top: 1rem;
    margin-left: 3rem;
}

.log{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.log:hover{
    transition: all 0.5s ease;
    transform: scale(1.5);
}

.log{
    transition: all 0.5s ease;
    transform: scale(1);
}

.boton{
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 2rem;
}

.desc{
    padding: 0.56rem;
    text-decoration: none;
    background-color: #466213;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

.desc:hover{
    transition: all 0.5s ease;
    background-color: #628a1a;
}

.desc{
    transition: all 0.5s ease;
}

.bot1{
    display: flex;
    justify-content: center;
    margin-right: 4.5%;
}

.redes{
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    
}

.redes:hover{
    filter: brightness(60%);
    cursor: pointer;
}

span{
    font-weight: 100;
}

.redirec{
    padding: 0.56rem;
    border-radius: 5px;
    background-color:#302f2f;
    color: white;
    text-decoration: none;
    font-weight: bold
}

iframe{
    margin-top: 6rem;
    width: 282px;
    height: 500px;
    display: inline-block

}

.yt{
    display: flex;
    justify-content: center;
}











@media screen and (max-width: 425px){

    *{
        padding: 0px;
        margin: 0px;
    }

    .portada{
        margin-bottom: 5rem;
    }

    .encabezado{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column
    }
    
    .titulo1{
        margin: 10px;
        display:inline-block;
        align-items: center;
        position: static;
        right: 18%;
    }

    .perfil{
        padding: 0px;
        margin: 0px;
        width: 100px;
        height: 100px;
        position: absolute;
        text-align: center;
        left: 39%;
        top: 5%
    }
    
    .perfil:hover{
        transition: all 0.5s ease;
        transform: scale(1.05);
       
    }
    
    .perfil{
        transition: all 0.5s ease;
        transform: scale(1);
        border-radius: 8px;
        margin-right: 4rem;
    }

    .titulo1{
        font-size: 10px;
        text-align: center;
        margin:1rem;
        color:#466213;
        position: absolute;
        left: 19%;
        top: 23%
    }

    h2{
        font-size: 19px;
        font-weight: 800;
        margin-bottom: 1rem;
        margin-top: 2.7rem;
        color: #466213;
    }
    
    .present1{
        text-align: center;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
    }

    article{
        width: 317px;
        margin-right: 0px;
    }

    .part1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }

    .part2{
        width: auto;
        margin: 0%;
    }

    .ranking{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .logos_1{
        margin:0%;
        width: auto;
    }

    .logos_2{
        margin:0%;
        width: auto;
    }
    
    footer{
        background-color: #466213;
        margin-top: 10rem;
        height: 100px;
        display: flex;
        flex-direction:column;
        align-content: center;
        padding: 3rem;
        padding-left: 0px;
        padding-right: 0px;
    }

    .pfoot{
        color: white;
        font-style: italic;
        font-weight: bold;
    text-align: center;
    margin-left: 0%;
    }

    .redes{
        margin-left: 1px;
        padding: 1px;
    }

    .bot1{
        width: 369px;
        padding-right: 0px;
    }

    .seccion2{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .redirec{
        margin-bottom: 1rem;
    }

}





@media screen and (max-width: 375px){

    *{
        padding: 0px;
        margin: 0px;
    }

    .portada{
        margin-bottom: 5rem;
    }

    .encabezado{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column
    }
    
    .titulo1{
        margin: 10px;
        display:inline-block;
        align-items: center;
        position: static;
        right: 20%;
    }

    .perfil{
        padding: 0px;
        margin: 0px;
        width: 100px;
        height: 100px;
        position: absolute;
        text-align: center;
        left: 36%;
        top: 5%
    }
    
    .perfil:hover{
        transition: all 0.5s ease;
        transform: scale(1.05);
       
    }
    
    .perfil{
        transition: all 0.5s ease;
        transform: scale(1);
        border-radius: 8px;
        margin-right: 4rem;
    }

    .titulo1{
        font-size: 10px;
        text-align: center;
        margin:1rem;
        color:#466213;
        position: absolute;
        left: 19%;
        top: 23%
    }

    h2{
        font-size: 19px;
        font-weight: 800;
        margin-bottom: 1rem;
        margin-top: 2.7rem;
        color: #466213;
    }
    
    .present1{
        text-align: center;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
    }

    article{
        width: 317px;
        margin-right: 0px;
    }

    .part1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }

    .part2{
        width: auto;
        margin: 0%;
    }

    .ranking{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .logos_1{
        margin:0%;
        width: auto;
    }

    .logos_2{
        margin:0%;
        width: auto;
    }
    
    footer{
        background-color: #466213;
        margin-top: 10rem;
        height: 100px;
        display: flex;
        flex-direction:column;
        align-content: center;
        padding: 3rem;
        padding-left: 0px;
        padding-right: 0px;
    }

    .pfoot{
        color: white;
        font-style: italic;
        font-weight: bold;
    text-align: center;
    margin-left: 0%;
    }

    .redes{
        margin-left: 1px;
        padding: 1px;
    }

    .bot1{
        width: 369px;
        padding-right: 0px;
    }

    .seccion2{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .redirec{
        margin-bottom: 1rem;
    }
}




/*

@media screen and (max-width: 768px){
    *{
        padding: 0px;
        margin: 0px;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    .portada{
        width: 100%;
        height: 300px;
        margin-bottom: 0px;
        filter: brightness(19%);
    }

    .samirjandar{
        width: 450px;
        text-align:center;
        color: white;
    }

    .description{
        width: 450px;
        text-align: center;
        color: white;
    }

    .portada{
        margin-bottom: 5rem;
    }

    .encabezado{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        justify-content: space-around;
    }
    
    .titulo1{
        width: 300px;
        margin:0rem;
        color: white;
        position: absolute;
        left: 60%;
    }

    .perfil{
        padding: 0px;
        margin: 0px;
        margin-right: 0px;
        width: 100px;
        height: 100px;
        position: absolute;
        text-align: center;
        left: 43.7%;
        top: 10%
    }
    
    .perfil:hover{
        transition: all 0.5s ease;
        transform: scale(1.05);
       
    }
    
    .perfil{
        transition: all 0.5s ease;
        transform: scale(1);
        border-radius: 8px;
        margin-right: 0rem;
    }

    .titulo1{
        font-size: 10px;
        text-align: center;
        margin:1rem;
        color:#466213;
        position: absolute;
        left: 19%;
        top: 23%
    }

    h2{
        font-size: 19px;
        font-weight: 800;
        margin-bottom: 1rem;
        margin-top: 2.7rem;
        color: #466213;
    }
    
    .present1{
        text-align: center;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
    }

    article{
        width: 650px;
        margin-right: 0px;
    }

    .part1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }

    .part2{
        width: auto;
        margin: 0%;
    }

    .ranking{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .logos_1{
        margin:0%;
        width: auto;
    }

    .logos_2{
        margin:0%;
        width: auto;
    }
    
    footer{
        background-color: #466213;
        margin-top: 10rem;
        height: 100px;
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 3rem;
        padding-left: 0px;
        padding-right: 0px;
    }

    .pfoot{
        color: white;
        font-style: italic;
        font-weight: bold;
    text-align: center;
    margin-left: 0%;
    }

    .redes{
        margin-left: 1px;
        padding: 1px;
    }

    .bot1{
        width: 655px;
        padding-right: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .seccion2{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .redirec{
        margin-bottom: 1rem;
    }
}

*/